@model IEnumerable<AutoCare.Models.Car>

@{
    ViewData["Title"] = "Index";
}

<h2>
    Cars
</h2>

<hr />

<p>
    <a class="btn btn-primary" asp-action="Create"> <i class="bi bi-plus-lg"></i> Add Cars </a>

</p>
@if (!Model.Any())
{
    <div class="alert alert-warning" role="alert">
        <i class="bi bi-exclamation-triangle"></i>
        No Cars Found!
    </div>
}
else
{

    <table class="table">
        <thead >
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CarNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CarLetter)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CarModel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TypeId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreateBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreateOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedOn)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count() > 0)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CarNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CarLetter)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CarModel)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.type.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.user.FirstName)
                        </td>
                        <td>
                            @if (item.IsActive == true)
                            {
                                <label>
                                    IsActive
                                </label>
                            }
                            else
                            {
                                <label>
                                    NotActive
                                </label>
                            }

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreateBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreateOn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedOn)
                        </td>

                        <td class="d-flex">
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-secondary">
                                    <i class="bi bi-camera-reels"></i>Edit
                                </a>
                                <form method="post" asp-action="Delete" asp-route-id="@item.Id">
                                    <button onclick="return confirm('Are you sure you want to delete Car : @item.CarLetter')" class="btn btn-outline-danger" style="margin-left:8px">
                                        <i class="bi bi-trash"></i>Delete
                                    </button>
                                </form>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

}
@*@section Scripts {
    <script>
        $(document).ready(function () {
            $('.js-delete').on('click', function () {
                var btn = $(this);
                var result = confirm('Are You Sure That You Need To Delete This Car?')
                if (result) {
                    $.ajax({
                        url: '/Car/Delete/' + btn.data('id'),
                        success: function () {
                            btn.parents('.modal').find('form').fadeOut();
                            toastr.success('Car Deleted');
                        },
                        error: function () {
                            toastr.error('Somethind Went Wrong!'); 
                        }
                    });
                }
            });
        });
    </script>
}*@
