@model IEnumerable<AutoCare.Models.Services>
@{
    ViewBag.Title = "Services";
}

<h4>Welcome To Services Section</h4>

<td><a class="btn btn-info" asp-action="Create" asp-controller="Services" style="margin:10px; width:25% ">Create Services</a></td>
<table class="table table-bordered table-striped text-center">
    <tr>
        <td class="text-center">Id</td>
        <td class="text-center">Details</td>
        <td class="text-center">Price</td>
        <td class="text-center">PriceInPoints</td>
        <td class="text-center">EarnedPoints</td>
        <td class="text-center">Edit</td>
        <td class="text-center">Delete</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Details</td>
            <td>@item.Price</td>
            <td>@item.PriceInPoints</td>
            <td>@item.EarnedPoints</td>
            <td><a class="btn btn-success" asp-controller="Services" asp-action="Edit" asp-route-id="@item.Id">Edit</a></td>
            <td><a class="btn btn-danger" asp-controller="Services" asp-action="Delete" asp-route-id="@item.Id">Delete</a></td>

        </tr>
    }

</table>